.track-number-form {
  label {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
  }

  .track-number {
    padding: 8px;
    border-radius: 8px;
  }

  input {
    border: none;
    margin-right: 20px;
  }

  input:focus {
    box-shadow: none;
  }

  button {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-inline: 20px;
  }

  button:hover {
    color: white;
  }

  .form-text {
    color: white;
  }
}
