.input-offer {
  max-width: 980px;
  margin-top: 24px;

  .input-group {
    background-color: #fff;
    padding: 0;
    border-radius: 12px;
    overflow: hidden;

    .input-column {
      padding: 14px 14px 20px 20px;
    }

    .btn {
      color: #fff;
      font-size: 15px;
    }
  }

  .form-control {
    border: none;
    padding: 0;
  }

  .form-control::placeholder {
    color: rgb(180, 180, 180);
    font-size: 14px;
  }

  .form-control:focus {
    box-shadow: none;
  }

  label {
    font-size: 11px;
    margin-bottom: 4px;
  }

  .tab-input {
    .nav-link {
      background-color: #fff;
      color: #6b6b6b;
      padding: 8px 24px;
      font-size: 14px;
      margin-right: 6px;

      svg {
        fill: #6b6b6b;
      }
    }

    .nav-link:hover {
      color: $primary;

      svg {
        fill: $primary;
      }
    }

    .nav-link.active {
      background-color: $primary;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}
