.section-map {
  padding-bottom: 80px;
  .contact-map {
    iframe {
      border-radius: 12px;
    }
  }
}

// Mobile Device
@media (max-width: 575.98px) {
  .section-map {
    .contact-map {
      iframe {
        border-radius: 12px;
        width: 300px;
      }
    }
  }
}
