.section-track {
  padding-bottom: 80px;

  .track-shipment {
    padding-block: 50px;
    .input-group {
      .input-group-text {
        padding-inline: 15px;
        padding-block: 15px;
        background-color: white;
      }
    }
  }
}

// Mobile Device
@media (max-width: 575.98px) {
  .section-track {
    padding-bottom: 10px;
    .track-shipment {
      padding-block: 40px;
    }
  }
}
